html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/plus-jakarta-sans-v8-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/plus-jakarta-sans-v8-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/plus-jakarta-sans-v8-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/plus-jakarta-sans-v8-latin-700.woff2") format("woff2");
}
/* @mixin flexbox{
    display: flex;
    align-items: center;
    justify-content: start;
} */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  vertical-align: middle;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Plus Jakarta Sans", "Arial", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
  padding: 0 20px;
}

.container__about {
  width: 100%;
  max-width: 1056px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  margin: 0;
  padding: 0;
}

.site-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.site-header__wrapper {
  display: inline-block;
  position: relative;
  margin-left: 64px;
  padding: 12px 0;
  width: 100%;
  max-width: 400px;
  border-radius: 70px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  background-color: #FFF;
  margin-right: auto;
}

.site-header__image {
  display: none;
}

.site-header__span::before {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 20px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  text-align: center;
  content: "";
}

.site-header__span::after {
  position: absolute;
  right: 20px;
  background-image: url("../images/filter.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  content: "";
  margin-left: 235px;
}

.site-header__input {
  margin-left: 60px;
  border: 1px solid rgba(195, 212, 233, 0.1);
  color: var(--secondary-400, #596780);
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.28px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0;
  padding-left: 0;
  list-style: none;
  gap: 20px;
  margin-left: 408px;
}

.nav__btn {
  border: transparent;
  background-color: transparent;
}

.site-header__img {
  background-color: fff;
}

@media only screen and (max-width: 576px) {
  .site-header__inner {
    margin: 0;
    padding: 32px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    margin-left: 0px;
  }
  .site-header__box {
    position: relative;
    margin: 0;
    margin-right: auto;
  }
  .site-header__box::after {
    position: absolute;
    background-image: url("../images/profil.svg");
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    top: -5px;
    left: 290px;
    background-position: center center;
    content: "";
  }
  .site-header__wrapper {
    margin: 32px 0 0;
    width: 100%;
    max-width: 262px;
    height: 48px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
  }
  .site-header__img {
    width: 108px;
    height: 28px;
  }
  .nav__list {
    display: none;
  }
  .site-header__image {
    display: inline-block;
    margin-left: 60px;
  }
  .site-header__span::after {
    display: none;
  }
}
main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #F6F7F9;
}

.hero__inner {
  margin: 0;
  padding: 0;
  padding: 32px 0;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0;
  padding-left: 0;
  list-style: none;
  gap: 32px;
}

.hero__item {
  padding: 24px 24px 112px 30px;
  width: 100%;
  max-width: 640px;
  background-image: url("../images/heroBg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  background-color: #54A6FF;
}

.hero__item:nth-child(2) {
  background-image: url("../images/heroBg2.png");
  background-color: #3563e9;
}

.hero__wrapper {
  width: 272px;
}

.hero__title {
  margin: 0 0 16px;
  color: #FFF;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%; /* 48px */
  letter-spacing: -0.96px;
}

.hero__text {
  margin: 0 0 20px;
  color: #FFF;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
}

.hero__btn {
  border: transparent;
  width: 116px;
  height: 44px;
  border-radius: 4px;
  background-color: #3563E9;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.second {
  background-color: #54A6FF;
}

.hero__btn:hover {
  background-color: #1A37A7;
}

.hero__btn:active {
  opacity: 0.8;
}

@media only screen and (max-width: 576px) {
  .hero {
    overflow-x: scroll;
  }
  .hero__inner {
    padding-bottom: 32px;
  }
  .hero__item {
    padding: 16px 71px 96px 16px;
    width: 100%;
    min-width: 327px;
    background-image: url("../images/heroBg2Mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-color: #54A6FF;
  }
  .hero__item:nth-child(2) {
    background-image: url("../images/heroBg2Mobile.png");
    background-color: #3563e9;
  }
  .hero__wrapper {
    width: 260px;
  }
  .hero__title {
    margin-bottom: 12px;
    font-size: 16px;
    letter-spacing: -0.32px;
  }
  .hero__text {
    display: block;
    width: 216px;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 160%;
  }
}
.filter__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  list-style-type: none;
}

.filter__item {
  padding: 24px 48px;
  width: 100%;
  max-width: 582px;
  background-color: #fff;
  border-radius: 10px;
}

.filter__item:nth-child(2) {
  position: relative;
  padding: 0;
  text-align: center;
}

.filter__item:nth-child(2) {
  background-color: transparent;
}

.filter__sublist {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  gap: 40px;
}

.filter__subitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-text__wrapper {
  width: 126px;
}

.filter__span {
  display: inline-block;
  width: 1px;
  height: 48px;
  background-color: rgba(195, 212, 233, 0.4);
  content: "";
  margin-left: 24px;
}

.filter__text {
  margin: 16px 0 8px;
  color: #1A202C;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.32px;
}

.filter__subtext {
  margin: 0;
  color: #90A3BF;
  font-size: 12px;
  font-weight: 500;
  line-height: 200%;
  letter-spacing: -0.12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.filter__subtext::after {
  position: absolute;
  background-image: url("../images/arrow-down.svg");
  width: 14px;
  height: 14px;
  right: 0;
  top: 5px;
  content: "";
  margin-left: 8px;
}

.filter__lab {
  color: #1A202C;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
}

.filter__lab::before {
  display: inline-block;
  background-image: url("../images/mark.svg");
  width: 16px;
  height: 16px;
  content: "";
  margin-right: 8px;
}

.filter__input {
  display: none;
}

.filter__btn {
  border: transparent;
  background-color: transparent;
}

@media only screen and (max-width: 576px) {
  .filter {
    padding-left: 0;
    margin: 0;
  }
  .filter__list {
    padding-left: 0;
    margin: 0;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-x: scroll;
  }
  .filter__item:nth-child(2) {
    z-index: 3;
    top: -18px;
    bottom: -18px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .filter__item:nth-child(3) {
    position: relative;
    top: -36px;
  }
}
.popular-car__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.car__btn {
  border: transparent;
  background-color: transparent;
  color: #3563E9;
  text-align: center;
  font-weight: 600;
}

.popular-car__inner {
  margin: 0 auto;
  padding: 42px 0 0px;
}

.popular-car__title {
  margin: 0 0 30px;
  padding-left: 24px;
  color: #90A3BF;
  font-size: 16px;
  font-weight: 600;
}

.popular-car__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular-car__title-btn {
  border: transparent;
  background-color: transparent;
  color: transparent;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.popular-car__title-btn:hover {
  color: red;
}

.popular-car__title-btn:active {
  color: red;
}

.popular-car__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
  gap: 32px;
}

.popular-car__item {
  width: 100%;
  max-width: 304px;
  height: 400px;
  padding: 24px;
  background-color: #fff;
}

.popular-car__subtitle {
  margin: 0;
  color: #1A202C;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.6px;
  position: relative;
}

.popular-car__pic {
  display: block;
  margin: 0 auto;
}

.popular-car__text {
  margin: 0 0 50px;
  color: #90A3BF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.28px;
}

.popular-car__sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin: 50px 0 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.popular-car__subtext {
  margin: 0 0 20px;
  color: #90A3BF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.28px;
}

.popular-car__subitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popular-car__subitem::before {
  display: inline-block;
  background-image: url("../images/gas.svg");
  width: 24px;
  height: 24px;
  content: "";
  margin-right: 6px;
}

.popular-car__subitem:nth-child(2)::before {
  background-image: url("../images/rule.svg");
}

.popular-car__subitem:nth-child(3)::before {
  background-image: url("../images/people.svg");
}

.popular-car__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  height: 50px;
}

.popular-car__cost {
  margin: 0;
  color: #90A3BF;
  font-size: 14px;
  font-weight: 700;
}

.popular-car__subprice {
  margin: 0;
  color: #1A202C;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.popular-car__btn {
  border: transparent;
  width: 116px;
  height: 44px;
  border-radius: 4px;
  background-color: #3563E9;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.popular-car__btn:hover {
  background-color: #1A37A7;
}

.popular-car__btn:active {
  opacity: 0.5;
}

@media only screen and (max-width: 576px) {
  .popular-car__inner {
    padding: 31px 0 48px;
  }
  .popular-car__title {
    padding-left: 0;
  }
  .popular-car__list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-x: scroll;
  }
  .popular-car__item {
    padding: 16px;
  }
  .popular-car__text {
    margin: 0 0 32px;
    color: #90A3BF;
    font-size: 12px;
  }
  .popular-car__sublist {
    margin: 0;
    margin: 34px 0 0;
  }
  .popular-car__subtext {
    margin: 0 0 20px;
    color: #90A3BF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.28px;
  }
  .popular-car__cost {
    font-size: 12px;
  }
  .popular-car__subprice {
    color: #1A202C;
    font-size: 16px;
  }
}
.recommendation__inner {
  margin: 0 auto;
  padding: 42px 0 0px;
}

.recommendation__title {
  margin: 0 0 30px;
  padding-left: 24px;
  color: #90A3BF;
  font-size: 16px;
  font-weight: 600;
}

.recommendation__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommendation__title-btn {
  border: transparent;
  background-color: transparent;
  color: transparent;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.recommendation__title-btn:hover {
  color: red;
}

.recommendation__title-btn:active {
  color: red;
}

.recommendation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
  gap: 32px;
}

.recommendation__item {
  width: 304px;
  height: 400px;
  padding: 24px;
  background-color: #fff;
}

.recommendation__subtitle {
  margin: 0;
  color: #1A202C;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.6px;
  position: relative;
}

.recommendation__pic {
  display: block;
  margin: 0 auto;
}

.recommendation__text {
  margin: 0 0 50px;
  color: #90A3BF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.28px;
}

.recommendation__sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin: 50px 0 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.recommendation__subtext {
  margin: 0 0 20px;
  color: #90A3BF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.28px;
}

.recommendation__subitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.recommendation__subitem::before {
  display: inline-block;
  background-image: url("../images/gas.svg");
  width: 24px;
  height: 24px;
  content: "";
  margin-right: 6px;
}

.recommendation__subitem:nth-child(2)::before {
  background-image: url("../images/rule.svg");
}

.recommendation__subitem:nth-child(3)::before {
  background-image: url("../images/people.svg");
}

.recommendation__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  height: 50px;
}

.recommendation__cost {
  margin: 0;
  color: #90A3BF;
  font-size: 14px;
  font-weight: 700;
}

.recommendation__subprice {
  margin: 0;
  color: #1A202C;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.recommendation__btn {
  border: transparent;
  width: 116px;
  height: 44px;
  border-radius: 4px;
  background-color: #3563E9;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
}

.recommendation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 64px 0;
}

.show {
  width: 156px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.recommendation__btn:hover {
  background-color: #1A37A7;
}

.recommendation__btn:active {
  opacity: 0.5;
}

.recommendation__wrapper-text {
  margin: 0;
  color: #90A3BF;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  letter-spacing: -0.28px;
}

@media only screen and (max-width: 576px) {
  .recommendation {
    overflow-y: hidden;
  }
  .recommendation__inner {
    padding: 31px 0 48px;
  }
  .recommendation__title {
    padding-left: 0;
  }
  .recommendation__img {
    width: 142px;
    height: 64px;
  }
  .recommendation__list {
    padding: 0;
    margin: 0;
  }
  .recommendation__item {
    padding: 16px 16px 0;
    max-width: 327px;
  }
  .recommendation__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .recommendation__sublist {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 16px;
    padding-left: 0;
    padding: 0;
  }
  .recommendation__subtitle {
    font-size: 16px;
  }
  .recommendation__text {
    margin: 0 0 32px;
    color: #90A3BF;
    font-size: 12px;
  }
  .recommendation__sublist {
    margin: 0;
    margin: 34px 0 0;
  }
  .recommendation__subtext {
    margin: 0 0 20px;
    color: #90A3BF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.28px;
  }
  .recommendation__cost {
    font-size: 12px;
  }
  .recommendation__subprice {
    color: #1A202C;
    font-size: 16px;
  }
}
.recent {
  padding: 42px 0 32px;
}

.recent__item {
  width: 317px;
}

@media only screen and (max-width: 576px) {
  .recent__list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-x: scroll;
  }
  .recent__body {
    overflow-x: scroll;
  }
}
.site-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.checkboxes {
  width: 35%;
  border-right: 0.5px solid #F3F6FA;
}

.checkboxes__inner {
  padding: 32px;
  background-color: white;
}

.checkboxes__text {
  margin: 0;
  margin-bottom: 28px;
  color: #90A3BF;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;
}

.checkboxes__form {
  margin-bottom: 56px;
}

.checkboxes__wrapper {
  display: block;
  margin-bottom: 32px;
}

.checkboxes__wrapper:last-child {
  margin-bottom: 0;
}

.checkboxes__input {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.checkboxes__label {
  color: #596780;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.4px;
}

.checkboxes__span {
  color: #90A3BF;
}

.checkboxes__subtext {
  margin: 0;
  margin-top: 16px;
  color: #596780;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.4px;
}

@media only screen and (max-width: 576px) {
  .checkboxes {
    display: none;
  }
}
.design__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  gap: 32px;
  padding: 32px 0;
}

.design__box {
  padding: 24px 60px 176px 24px;
  width: 100%;
  max-width: 492px;
  background-image: url("../images/heroBg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  background-color: #3563e9;
}

.design__title {
  margin: 0;
  color: #FFF;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.96px;
}

.design__text {
  display: block;
  max-width: 284px;
  margin: 0;
  margin-top: 16px;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}

.design__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
  margin-top: 24px;
  list-style-type: none;
}

.design__item:hover {
  border-radius: 10px;
  border: 5px solid #3563E9;
}

.design__info {
  width: 100%;
  max-width: 492px;
  background-color: #fff;
  border-radius: 10px;
  padding: 24px;
}

.design__subtitle {
  color: #1A202C;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: -0.96px;
}

.design__subtext {
  margin: 0;
  color: #596780;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.design__subtext::before {
  display: inline-block;
  width: 108px;
  height: 20px;
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  content: "";
  margin-right: 8px;
}

.design__desc {
  margin: 34px 0 32px;
  color: #596780;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 40px */
  letter-spacing: -0.4px;
}

.design__sublist {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  gap: 16px;
}

.design__subitem {
  width: 92px;
  margin-bottom: 16px;
}

.design__subdesc-1 {
  margin: 0;
  color: #596780;
  font-size: 20px;
  font-weight: 400;
  line-height: 200%; /* 40px */
  letter-spacing: -0.4px;
}

.design__subdesc {
  color: #90A3BF;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 200%; /* 40px */
  letter-spacing: -0.4px;
}

@media only screen and (max-width: 576px) {
  .design__inner {
    overflow-x: scroll;
  }
  .design__img {
    width: 96px;
    height: 64px;
  }
  .design__box {
    padding: 16px 71px 96px 16px;
    width: 100%;
    min-width: 327px;
    background-image: url("../images/heroBg2Mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
  .design__title {
    display: block;
    width: 240px;
    font-size: 16px;
  }
  .design__text {
    display: block;
    width: 216px;
    margin-top: 12px;
    font-size: 12px;
  }
  .design__info {
    display: none;
  }
}
.site-footer__top {
  padding: 80px 0 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-footer__text-wrapper {
  width: 100%;
  max-width: 292px;
}

.site-footer__text {
  margin: 16px 0 20px;
  color: rgba(19, 19, 19, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
}

.site-footer__tel,
.site-footer__mail {
  display: inline-block;
  color: #000;
  text-decoration: none;
  color: rgba(19, 19, 19, 0.6);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
}

.site-footer__tel {
  margin-bottom: 17px;
}

.site-footer__title-wrapper {
  margin-bottom: 24px;
}

.site-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__wrapper {
  width: 100%;
  max-width: 152px;
  margin-right: 90px;
}

.site-footer__title {
  margin: 0;
  margin-bottom: 24px;
  color: #1A202C;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.4px;
}

.site-footer__list {
  margin-top: 34px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.site-footer__item:not(:nth-child(4)) {
  margin-bottom: 24px;
}

.site-footer__link {
  display: inline-block;
  color: #000;
  text-decoration: none;
  color: rgba(19, 19, 19, 0.6);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.site-footer__link:hover {
  color: #1A202C;
}

.bottom::before {
  display: block;
  width: 100%;
  max-width: 1320px;
  height: 1px;
  margin: 0 auto;
  background-color: rgba(19, 19, 19, 0.16);
  content: "";
  margin-bottom: 36px;
}

.bottom__inner {
  padding: 0 0 60px;
}

.bottom__inner,
.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  gap: 32px;
}

@media only screen and (max-width: 576px) {
  .site-footer__img {
    width: 108px;
    height: 28px;
  }
  .site-footer__top {
    padding: 48px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site-footer__text-wrapper {
    width: 206px;
  }
  .site-footer__text {
    margin: 16px 0;
    color: #90A3BF;
    font-size: 12px;
    font-weight: 500;
    line-height: 200%;
    letter-spacing: -0.12px;
  }
  .site-footer__tel,
  .site-footer__mail {
    color: #90A3BF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
    letter-spacing: -0.12px;
  }
  .site-footer__tel {
    margin-bottom: 16px;
  }
  .site-footer__mail {
    margin-bottom: 32px;
  }
  .about__wrapper {
    margin-right: 60px;
  }
  .site-footer__item:nth-child(4) {
    margin-bottom: 0;
  }
  .site-footer__link {
    color: #90A3BF;
    font-size: 14px;
    line-height: 120%;
  }
  .bottom::before {
    display: none;
    width: 0;
  }
  .bottom__inner {
    padding: 48px 0 72px;
    width: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .bottom__text {
    margin-top: 32px;
    color: #1A202C;
    margin-bottom: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.24px;
  }
}/*# sourceMappingURL=main.css.map */