.site-main{
    display: flex;
    justify-content: flex-start;
}

.checkboxes {
    width: 35%;
    border-right: 0.50px solid #F3F6FA;
}

.checkboxes__inner {
    padding: 32px;
    background-color: white;
}

.checkboxes__text {
    margin: 0;
    margin-bottom: 28px;
    color: #90A3BF;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.24px;
}

.checkboxes__form {
    margin-bottom: 56px;
}

.checkboxes__wrapper {
    display: block;
    margin-bottom: 32px;
}

.checkboxes__wrapper:last-child {
    margin-bottom: 0;
}

.checkboxes__input {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.checkboxes__label {
    color: #596780;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.4px;
}

.checkboxes__span {
    color: #90A3BF;
}

.checkboxes__subtext {
    margin: 0;
    margin-top: 16px;
    color: #596780;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.4px;
}

@media only screen and (max-width: 576px) {
    .checkboxes {
        display: none;
    }
}
