main{
    flex-grow: 1;
    background-color: #F6F7F9;;
}

.hero{
    overflow-x: scroll;
}

.hero__inner{
    margin: 0;
    padding: 0;
    padding: 32px 0;
}

.hero__list{
    @include flexbox(flex,center,start);
    @include list-unstyled;
    gap: 32px;
}

.hero__item{
    padding: 24px 24px 112px 30px;
    width: 100%;
    max-width: 640px;
    background-image: url("../images/heroBg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-color:  #54A6FF;
}

.hero__item:nth-child(2){
    background-image: url("../images/heroBg2.png");
    background-color: #3563e9 ;
}


.hero__wrapper{
    width: 272px;
}

.hero__title{
    margin: 0 0 16px;
    color:  #FFF;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%; /* 48px */
    letter-spacing: -0.96px;
}

.hero__text{
    margin: 0 0 20px;
    color:  #FFF;
    font-weight: 500;
    line-height: 150%; 
    letter-spacing: -0.32px;
}

.hero__btn{
    border: transparent;
    width: 116px;
    height: 44px;
    border-radius: 4px;
    background-color:  #3563E9;
    text-align: center;
    color:  #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.32px;
    transition: background-color 0.5s ease;
}

.second{
    background-color: #54A6FF;
}

.hero__btn:hover{
    background-color: #1A37A7;
}

.hero__btn:active{
    opacity: 0.8;
}


@media only screen and (max-width:576px) {
    .hero{
    
        overflow-x: scroll;
    }

    .hero__inner{
        padding-bottom: 32px;
    }


    .hero__item{
        padding: 16px 71px 96px 16px;
        width: 100%;
        min-width: 327px;
        background-image: url("../images/heroMobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        background-color:  #54A6FF;
    }

    .hero__item:nth-child(2){
        background-image: url("../images/heroBg2Mobile.png");
        background-color: #3563e9 ;
    }

    .hero__wrapper{
        width: 260px;
    }

    .hero__title{
        margin-bottom: 12px;
        font-size: 16px;
        letter-spacing: -0.32px;
    }

    .hero__text{
        display: block;
        width: 216px;
        margin-bottom: 16px;
        font-size: 12px;
        line-height: 160%;
    }

}