.popular-car__wrapper{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.car__btn{
    border: transparent;
    background-color: transparent;
    color:  #3563E9;
    text-align: center;
    font-weight: 600;

}

.popular-car__inner{
    margin: 0 auto;
    padding: 42px 0 0px;
}

.popular-car__title{
    margin: 0 0 30px;
    padding-left: 24px;
    color:  #90A3BF;
    font-size: 16px;
    font-weight: 600;
}

.popular-car__title-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-car__title-btn{
    border: transparent;
    background-color: transparent;
    color: transparent;
    @include transition;
}

.popular-car__title-btn:hover{
    color: red;
}

.popular-car__title-btn:active{
    color: red;
}



.popular-car__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include list-unstyled;
    gap: 32px;
}

.popular-car__item{
    width: 100%;
    max-width: 304px;
    height: 400px;
    padding: 24px;
    background-color: #fff;
}

.popular-car__subtitle{
    margin: 0;
    color: #1A202C;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.6px;
    position: relative;
}

.popular-car__pic{
    display: block;
    margin: 0 auto;
}

.popular-car__text{
    margin: 0 0 50px;
    color: #90A3BF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
    letter-spacing: -0.28px;
}

.popular-car__sublist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin: 50px 0 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.popular-car__subtext{
    margin: 0 0 20px;
    color:  #90A3BF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.28px;
}

.popular-car__subitem{
    display: flex;
    align-items: flex-start;
}

.popular-car__subitem::before{
    display: inline-block;
    background-image: url("../images/gas.svg");
    width: 24px;
    height: 24px;
    content: "";
    margin-right: 6px;
}

.popular-car__subitem:nth-child(2)::before{
    background-image: url("../images/rule.svg");
}

.popular-car__subitem:nth-child(3)::before{
    background-image: url("../images/people.svg");
}

.popular-car__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 50px;
}

.popular-car__cost{
    margin: 0;
    color:  #90A3BF;
    font-size: 14px;
    font-weight: 700;
}

.popular-car__subprice{
    margin: 0;
    color:  #1A202C;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.popular-car__btn{
    border: transparent;
    width: 116px;
    height: 44px;
    border-radius: 4px;
    background-color:  #3563E9;
    text-align: center;
    color:  #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.32px;
    transition: background-color 0.6s ease;
}

.popular-car__btn:hover{
    background-color: #1A37A7;
}

.popular-car__btn:active{
    opacity: 0.5;
}

@media only screen and (max-width:576px) {
    .popular-car__inner {
        padding: 31px 0 48px;
        
    }

    
    .popular-car__title{
        padding-left: 0;
    }


    .popular-car__list{
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: row;
        overflow-x: scroll;
    }

    .popular-car__item{
        padding: 16px;
    }


    .popular-car__text{
        margin: 0 0 32px;
        color: #90A3BF;
        font-size: 12px;
    }
    
    .popular-car__sublist{
        margin: 0;
        margin: 34px 0 0;
    }
    
    .popular-car__subtext{
        margin: 0 0 20px;
        color:  #90A3BF;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.28px;
    }
    
    
    .popular-car__cost{
        font-size: 12px;
    }
    
    .popular-car__subprice{
        color:  #1A202C;
        font-size: 16px;
    }

    .recent__list{
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: row;
        overflow-x: scroll;
    }

}

