.recent__body{
    background-color: #F6F7F9;
}

.recent{
    padding: 42px 0 32px;
}

.recent__item{
    width: 317px;
}

@media only screen and (max-width:576px) {

    .recent__list{
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: row;
        overflow-x: scroll;
    }

}

